* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h1 {
  text-align: center;
  border-bottom: 1px solid;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card {
  max-width: 100%;
  border: 1px solid black;
  transition: 1s;
  overflow: hidden;
}

.card:hover {
  scale: 1.02;
  background-color: black;
  color: white;
  transition: 1s;
  border: 1px solid black;
}

.card > h2 {
  padding: 20px 0px;
  text-align: center;
  font-size: 1.6rem;
}

.card > p {
  text-align: justify;
  padding: 0px 12px;
}

.card img {
  width: 100%;
}

footer {
  font-size: xx-small;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  .cards-container {
    justify-content: start;
    align-items: stretch;
  }

  .card {
    max-width: 48%;
  }

  .card > h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 6rem;
  }
  .cards-container {
    justify-content: start;
    align-items: stretch;
  }

  .card {
    max-width: 32%;
  }

  .card > h2 {
    font-size: 2rem;
  }

  .card > p {
    font-size: large;
  }

  footer {
    font-size: x-small;
  }
}
